*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222;

}
.card{
    width: 90%;
    height: 500px;
    max-width: 450px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    padding: 40px 34px;
    border-radius: 15px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    border: 0;
    outline: 0;
    background: #fff;
    color: #555;
    border-radius: 30px;
    padding: 10px 25px;
    flex: 1;
    margin-right: 16px;
    height: 40px;

}
.btn{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search  img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top:30px ;
}
.weather-icon h1{
    font-size: 660px;
    font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}


.details {
    display: flex;
    align-items: center;
    justify-content: space-between; /* important */
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 10px; /* adds space between icon & text */
}

.col + .col {
    margin-left: 30px; /* distance between humidity & wind */
}

.col div {
    display: flex;
    flex-direction: column;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 20px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
    display: none;
    color: red;
}